[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Balbir Singh (bsingharora)
[access "refs/for/refs/*"]
	read = group user/Balbir Singh (bsingharora)
	push = group user/Balbir Singh (bsingharora)
	label-Code-Review = -2..+2 group user/Balbir Singh (bsingharora)
	label-Verified = -1..+1 group user/Balbir Singh (bsingharora)
	rebase = group user/Balbir Singh (bsingharora)
	removeReviewer = group user/Balbir Singh (bsingharora)
	submit = group user/Balbir Singh (bsingharora)
[access "refs/heads/*"]
	read = group user/Balbir Singh (bsingharora)
	create = group user/Balbir Singh (bsingharora)
	push = +force group user/Balbir Singh (bsingharora)
	pushMerge = group user/Balbir Singh (bsingharora)
[access "refs/tags/*"]
	push = +force group user/Balbir Singh (bsingharora)
	pushTag = group user/Balbir Singh (bsingharora)
	pushSignedTag = group user/Balbir Singh (bsingharora)
